body {
    background-color: black;
    

}

h1 {
    color: white;
    font-size: 50px;
    font-family: 'Courier New', Courier, monospace;

}

h2 {
    color: white;
    text-align: right;
    margin-right: 23%;
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;

}

p {
    color: white;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;

}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1em solid black;

}

a:hover {
    background-color: lightgray;
    color: white;

}

.Menu {
    color: brown;
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    list-style-type: none;
    position: fixed;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul>li {
    display: inline-block;
    margin: 10px 20px;
}

ul>li>a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    position: relative;
}

ul>li>a::after {
    content: '';
    width: 100%;
    height: 3px;
    background-color: crimson;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

ul>li>a:hover {
    color: crimson;

}

ul>li>a:hover::after {
    width: 100%;
}

.Homepage {
    background-image: url("images/1.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;

}

.Contact {
    background-image: url("images/2.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
}

.Tracker {
    background-image: url("images/3.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;

}

.Sets-Reps {
    justify-content: space-between;
}

.Category {
    color: brown;
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    text-align: center;
    align-content: center;

}

.Form {
    color: brown;
    align-content:center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    text-align: center;
    border: 5px solid black;
    border-radius: 10px;
    float: right;
    margin-right: 20%;

}

.Sets-Reps {
    justify-content: space-between;
    align-items: justify;
}


    

.About {
    background-image: url("images/4.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
}

.MyPlan{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    width: 100vw;
}

table, tr, th, td {
    border: 5px solid gray;
    border-collapse: collapse;
    padding: 10px 15px;
    margin-top: 150px;
    margin-bottom: 100px;
}

th {
    background-color: #f0f0f0; /* Add a light gray background to the header row */
}

.scrollable-content {
    padding-top: 60px; /* Add some padding to account for the fixed header */
    overflow-y:auto; /* Add this to enable scrolling on the content */
    height: calc(100vh - 60px); /* Set the height to the remaining space */
}

